.hoc{
    color: #F9F7FD;
    width: 150px;
    background-color: #4D2392;
    border-radius: 8px;
}
.forms{
    width: 100%;
    border-radius: 10px;

}
.form{
    width: 40%;
    border-radius: 10px;

}